*{  max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 248, 255);
    font-family: "Work Sans", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
.main-container{
    max-width: 1140px;
    margin: auto;
    background-color: rgb(245, 248, 255);
    
    
}


.text-color-orange{
    color: rgb(233, 90, 8);
}
.btn-primary{
    background: rgb(233, 90, 8);
    color: white;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
}
.btn-secondary{
    background: rgb(233, 90, 8);
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px 20px 8px 20px;
    font-weight: bold
}



/* header styles */


/* navbar related styles */
.navbar{
justify-content: space-between;
align-items: center;


}
.nav-item{
    list-style: none;
    margin-right: 30px;
    margin-top: 30px;
    
}
.nav-link{
    text-decoration: none;
    color: rgb(137, 135, 161);
}
.nav-home{
    font-weight: bold;
    color: rgb(37, 36, 50);
    
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    
    
}
.banner-title{
    text-wrap: none;
    font-weight: 700;
    font-size: 65px;
    width: 100%;
    


}
.banner-img{
    width: 100%;
}
.banner-description{
    width: 60%;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;


}
/* main  */
.plants-description{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 18px;
    gap: 16px;
    margin-bottom: 50px;
}
.plants-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16;
    margin-top: 50px;

}
.plants-container h2{
    font-size: 50px;
    font-weight: 700;
}

.container-flower{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0;
    
    

}
.flower{
    text-align: center;
} 
.flower img{
    width: 100%;
}

.flower-price{
    color: rgb(17, 17, 17);
    font-weight: 700;

}

/* plants lover section */

.plants-lover{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    gap: 100px;
    

}
.plants-lover-image img{
    max-width: 100%;
    
}
.plants-h1-second-line{
    display: block;
}
.lover-container-left{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;

}
.lover-container-title{
    color: rgb(0, 0, 0);;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    text-align: left;
    margin-bottom: 10px;
}
.plants-lover-description{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    
}
.badge{
    display: flex;
    position: absolute;
    width: 200px;
    background: transparent;
    margin-left: 190px;
    margin-top: -70px;
    
}

    
/* latest deals */

.deals-container{
    margin-top: 120px;
    align-items: center;
    text-align: center;
}
.deals-container h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
.deals-container-description{
     font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}


/* join bunch */
.join-bunch-container{
    
     background-image:  url(./assets/news-letter-bg.png);
     background-color: rgba(7, 51, 79, 0.4);
     background-size: cover;
     background-position: center;
     max-width: 100%;
     height: 540px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    
}
.join-bunch-container h1{
    background: transparent;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-weight: 700;
    line-height: 68px;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.bunch-area{
    display: flex;
    width: 100%;
    max-width: 600px;
    background: white;
    overflow: hidden;
}

.bunch-area-mail{
    border: none;
    outline: none;
    width: 100%;
    max-width: 600px;
    padding: 8px 20px 8px 20px;
    
}












@media screen and (max-width: 576px){
    .main-container{
        width: 97%;
    }
    .primary-bg{
        margin: 16px;
    }
    .hidden-item{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;

    }
    .banner-title{
    
    font-weight: 700;
    font-size: 24px;
    width: 190px;
    margin-top: 25px;
}
.container-flower{
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    
}
.plants-lover{
    flex-direction: column;
}
.lover-container-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;

}
.plants-h1-second-line{
    display: inline;
}

.bunch-area{
    width: 80%;
}
.join-bunch-container h1{
    font-size: 25px;
}
.badge{
    display: none;
}




}













